body{
    width: 100%;
    height:100vh;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.Add-profile-container {
    width: 60%;

}
.button-container{
    width: 100%;
    display: flex;
}
.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    gap: 10%;
}
.button-container button{
    width: 40%;
}
.form-content{
    width: 100%;
}

@media (max-width:768px) {

    .Add-profile-container{
        margin: 0%;
        width: 60%;
    }
    .button-container{
        width: 100%;
        display: flex;
    }

}


.Add-profile-container {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    

}